[Unit]
Description=Alice substrate Service

[Service]

ExecStart=/opt/artemis/bin/artemis-node \
  --base-path /opt/artemis/data \
  --rpc-external \
  -- \
  {% if bootnodes %}
  --telemetry-url {{ bootnodes }}
  {% endif %}


Restart=always
StandardOutput=append:/opt/artemis/log.alice.output.log
StandardError=append:/var/log/substrate/alice.error.log

[Install]
WantedBy=multi-user.target
