[package]
name = "snowbridge-runtime"
description = "Artemis Snowbridge Runtime"
version = "0.1.1"
edition = "2018"
authors = ["Snowfork <contact@snowfork.com>"]
repository = "https://github.com/Snowfork/polkadot-ethereum"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
serde = { version = "1.0.101", optional = true }
codec = { package = "parity-scale-codec", version = "2.0.0", features = ["derive"], default-features = false }
getrandom = { version = "0.2.1", features = ["js"] }

frame-executive = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false }
frame-support = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false }
frame-system = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false }
frame-system-rpc-runtime-api = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false }
pallet-balances = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false }
pallet-randomness-collective-flip = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false }
pallet-timestamp = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false }
pallet-utility = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false }
pallet-transaction-payment = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false }
pallet-transaction-payment-rpc-runtime-api = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false }
sp-api = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false }
sp-block-builder = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false }
sp-core = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false }
sp-inherents = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false }
sp-offchain = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false }
sp-session = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false }
sp-transaction-pool = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false }
sp-version = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false }

parachain-info = { git = "https://github.com/paritytech/cumulus.git", branch = "rococo-v1", default-features = false }
cumulus-primitives-core = { git = "https://github.com/paritytech/cumulus.git", branch = "rococo-v1", default-features = false }
cumulus-pallet-parachain-system = { git = "https://github.com/paritytech/cumulus.git", branch = "rococo-v1", default-features = false }
cumulus-pallet-xcm-handler = { git = "https://github.com/paritytech/cumulus.git", branch = "rococo-v1", default-features = false }

xcm = { git = "https://github.com/paritytech/polkadot.git", branch = "rococo-v1", default-features = false }
xcm-executor = { git = "https://github.com/paritytech/polkadot.git", branch = "rococo-v1", default-features = false }
xcm-builder = { git = "https://github.com/paritytech/polkadot.git", branch = "rococo-v1", default-features = false }
polkadot-parachain = { git = "https://github.com/paritytech/polkadot.git", branch = "rococo-v1", default-features = false }
artemis-core = { path = "../../primitives/core", default-features = false }
artemis-transfer = { path = "../../pallets/transfer", default-features = false }
artemis-xcm-support = { path = "../../primitives/xcm-support", default-features = false }
basic-channel = { path = "../../pallets/basic-channel", package = "artemis-basic-channel", default-features = false }
incentivized-channel = { path = "../../pallets/incentivized-channel", package = "artemis-incentivized-channel", default-features = false }
dispatch = { path = "../../pallets/dispatch", package = "artemis-dispatch", default-features = false }
verifier-lightclient = { path = "../../pallets/verifier-lightclient", package = "pallet-verifier-lightclient", default-features = false }
assets = { path = "../../pallets/assets", package = "artemis-assets", default-features = false }
dot-app = { path = "../../pallets/dot-app", package = "artemis-dot-app", default-features = false }
eth-app = { path = "../../pallets/eth-app", package = "artemis-eth-app", default-features = false }
erc20-app = { path = "../../pallets/erc20-app", package = "artemis-erc20-app", default-features = false }
commitments = { path = "../../pallets/commitments", package = "artemis-commitments", default-features = false }
runtime-common = { path = "../common", package = "artemis-runtime-common", default-features = false }

# Used for runtime benchmarking
frame-benchmarking = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false, optional = true }
frame-system-benchmarking = { git = "https://github.com/paritytech/substrate.git", branch = "rococo-v1", default-features = false, optional = true }
hex-literal = { version = "0.3.1", optional = true }

[build-dependencies]
substrate-wasm-builder = "4.0.0"

[features]
default = ["std"]
std = [
    "serde",
    "codec/std",
    "frame-executive/std",
    "frame-support/std",
    "frame-system/std",
    "frame-system-rpc-runtime-api/std",
    "pallet-balances/std",
    "pallet-randomness-collective-flip/std",
    "pallet-timestamp/std",
    "pallet-utility/std",
    "pallet-transaction-payment/std",
    "pallet-transaction-payment-rpc-runtime-api/std",
    "sp-api/std",
    "sp-block-builder/std",
    "sp-core/std",
    "sp-inherents/std",
    "sp-offchain/std",
    "sp-runtime/std",
    "sp-session/std",
    "sp-std/std",
    "sp-transaction-pool/std",
    "sp-version/std",
    "cumulus-primitives-core/std",
    "cumulus-pallet-parachain-system/std",
    "cumulus-pallet-xcm-handler/std",
    "parachain-info/std",
    "xcm/std",
    "xcm-executor/std",
    "xcm-builder/std",
    "polkadot-parachain/std",
    "basic-channel/std",
    "incentivized-channel/std",
    "verifier-lightclient/std",
    "assets/std",
    "dispatch/std",
    "dot-app/std",
    "eth-app/std",
    "erc20-app/std",
    "commitments/std",
    "artemis-transfer/std",
    "artemis-xcm-support/std",
    "runtime-common/std",
]
runtime-benchmarks = [
    "sp-runtime/runtime-benchmarks",
    "frame-benchmarking",
    "frame-support/runtime-benchmarks",
    "frame-system-benchmarking",
    "hex-literal",
    "frame-system/runtime-benchmarks",
    "pallet-balances/runtime-benchmarks",
    "pallet-timestamp/runtime-benchmarks",
    # Artemis pallets & support
    "artemis-core/runtime-benchmarks",
    "assets/runtime-benchmarks",
    "basic-channel/runtime-benchmarks",
    "dot-app/runtime-benchmarks",
    "dispatch/runtime-benchmarks",
    "erc20-app/runtime-benchmarks",
    "eth-app/runtime-benchmarks",
    "incentivized-channel/runtime-benchmarks",
    "verifier-lightclient/runtime-benchmarks",
]
