[package]
name = "snowbridge-smoketest"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
futures = "0.3.30"
tokio = { version = "1.35.0", features = ["full"] }
codec = { package = "parity-scale-codec", version = "3.6.1", default-features = false, features = ["bit-vec", "derive", "full"] }
hex = "0.4.3"
hex-literal = "0.4.1"
serde = { version = "1.0", features = ["derive"] }
subxt = { git = "https://github.com/paritytech/subxt.git", tag = "v0.33.0", features = ["substrate-compat"]}
subxt-macro = { git = "https://github.com/paritytech/subxt.git", tag = "v0.33.0" }
subxt-metadata = { git = "https://github.com/paritytech/subxt.git", tag = "v0.33.0" }
subxt-codegen = { git = "https://github.com/paritytech/subxt.git", tag = "v0.33.0" }
subxt-signer = { git = "https://github.com/paritytech/subxt.git", tag = "v0.33.0" }
ethers = { version = "2.0.13", features = ["abigen", "rustls", "ws"] }
lazy_static = "1.4.0"

[dev-dependencies]
xcm = { path = "../polkadot-sdk/polkadot/xcm", package = "staging-xcm" }
