[package]
name = "snowbridge-smoketest"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
futures = "0.3.30"
tokio = { version = "1.35.0", features = ["macros", "rt-multi-thread", "time"] }
codec = { package = "parity-scale-codec", version = "3.6.1", default-features = false, features = ["bit-vec", "derive", "full"] }
hex = "0.4.3"
hex-literal = "0.4.1"
serde = { version = "1.0", features = ["derive"] }
subxt = { git = "https://github.com/Snowfork/subxt.git", branch = "snowbridge", features = ["substrate-compat"]}
subxt-macro = { git = "https://github.com/Snowfork/subxt.git", branch = "snowbridge" }
subxt-metadata = { git = "https://github.com/Snowfork/subxt.git", branch = "snowbridge" }
subxt-codegen = { git = "https://github.com/Snowfork/subxt.git", branch = "snowbridge" }
subxt-signer = { git = "https://github.com/Snowfork/subxt.git", branch = "snowbridge" }
ethers = { git = "https://github.com/gakonst/ethers-rs", default-features = false, features = ["abigen", "ws"] }
sp-core = "28.0.0"
lazy_static = "1.4.0"

[dev-dependencies]
xcm = { path = "../polkadot-sdk/polkadot/xcm", package = "staging-xcm" }
