[package]
name = "snowbridge-smoketest"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
futures = "0.3.30"
tokio = { version = "1.35.0", features = ["macros", "rt-multi-thread", "time"] }
codec = { package = "parity-scale-codec", version = "3.6.1", default-features = false, features = ["bit-vec", "derive", "full"] }
hex = "0.4.3"
hex-literal = "0.4.1"
serde = { version = "1.0.197", features = ["derive"] }
subxt = { version = "0.37.0", features = ["substrate-compat", "unstable-light-client"] }
subxt-macro = { version = "0.37.0" }
subxt-metadata = { version = "0.37.0" }
subxt-codegen = { version = "0.37.0" }
subxt-signer = { version = "0.37.0" }
ethers = { git = "https://github.com/gakonst/ethers-rs", default-features = false, features = ["abigen", "ws", "rustls"] }
lazy_static = "1.4.0"
sp-crypto-hashing = "0.1.0"
