[package]
name = "snowbridge-core"
version = "0.1.1"
authors = ["Snowfork <contact@snowfork.com>"]
edition = "2021"

[dependencies]
derivative = { version = "2.2.0", default-features = false, features = ["use_core"] }
serde = { version = "1.0.164", default-features = false, features = ["alloc", "derive"] }
codec = { package = "parity-scale-codec", version = "3.1.5", default-features = false }
scale-info = { version = "2.7.0", default-features = false, features = ["derive"] }
snowbridge-ethereum = { path = "../ethereum", default-features = false }

polkadot-parachain = { git = "https://github.com/paritytech/polkadot.git", branch = "master", default-features = false }
xcm = { git = "https://github.com/paritytech/polkadot.git", branch = "master", default-features = false }

frame-support = { git = "https://github.com/paritytech/substrate.git", branch = "master", default-features = false }
frame-system = { git = "https://github.com/paritytech/substrate.git", branch = "master", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", branch = "master", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate.git", branch = "master", default-features = false }
sp-core = { git = "https://github.com/paritytech/substrate.git", branch = "master", default-features = false }
snowbridge-beacon-primitives = { path = "../../primitives/beacon", default-features = false }

ethabi = { git = "https://github.com/Snowfork/ethabi-decode.git", package = "ethabi-decode", branch = "master", default-features = false }


[dev-dependencies]
hex = { package = "rustc-hex", version = "2.1.0", default-features = false }

[features]
default = ["std"]
std = [
    "serde/std",
    "codec/std",
    "scale-info/std",
    "frame-support/std",
    "frame-system/std",
    "polkadot-parachain/std",
    "sp-std/std",
    "sp-core/std",
    "sp-runtime/std",
    "snowbridge-ethereum/std",
    "snowbridge-beacon-primitives/std",
    "xcm/std",
    "ethabi/std",
]
runtime-benchmarks = []
