[package]
name = "snowbridge-core"
version = "0.1.1"
authors = [ "Snowfork <contact@snowfork.com>" ]
edition = "2021"

[dependencies]
serde = { version = "1.0.160", optional = true, features = [ "derive" ] }
codec = { package = "parity-scale-codec", version = "3.1.5", default-features = false }
scale-info = { version = "2.6.0", default-features = false, features = [ "derive" ] }
snowbridge-ethereum = { path = "../ethereum", default-features = false }

frame-support = { git = "https://github.com/paritytech/substrate.git", branch = "master", default-features = false }
frame-system = { git = "https://github.com/paritytech/substrate.git", branch = "master", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", branch = "master", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate.git", branch = "master", default-features = false }
sp-core = { git = "https://github.com/paritytech/substrate.git", branch = "master", default-features = false }

[dev-dependencies]
hex = { package = "rustc-hex", version = "2.1.0", default-features = false }

[features]
default = [ "std" ]
std = [
    "serde",
    "codec/std",
    "scale-info/std",
    "frame-support/std",
    "sp-std/std",
    "sp-core/std",
    "sp-runtime/std",
    "snowbridge-ethereum/std"
]
runtime-benchmarks = []
