[profile.default]
solc_version = "0.8.28"
optimizer = true
optimizer_runs = 20000
via_ir = false
test = 'test'
script = 'scripts'
fs_permissions = [
    { access = "read-write", path = "test/data" },
    { access = "read", path = "./" },
]
memory_limit = 1073741824
gas_limit = 8000000000

ignored_error_codes = [
    # DeployLocal.sol is never deployed
    5574,
    # tstore
    2394,
]

[profile.production]
via_ir = true

[fmt]
number_underscore = "thousands"
line_length = 99
