[profile.default]
solc_version = "0.8.33"
optimizer = true
optimizer_runs = 20000
via_ir = false
test = 'test'
script = 'scripts'
fs_permissions = [
    { access = "read-write", path = "test/data" },
    { access = "read", path = "./" },
]
memory_limit = 1073741824
gas_limit = 8000000000

ignored_error_codes = [
    # DeployLocal.sol is never deployed
    5574,
    # tstore
    2394,
]

no_match_test = "testRegenerate*"

# Production profile, ForkUpgrade tests cause stack too deep errors with via_ir enabled, so we exclude it here
[profile.production]
no_match_contract = "ForkUpgradeTest"
via_ir = true

[fmt]
number_underscore = "thousands"
line_length = 99
