[Unit]
Description=Artemis Collator Node
After=network-online.target
Wants=network-online.target

[Service]
User=artemis
Group=artemis
ExecStart=/usr/local/bin/artemis \
    --chain /etc/artemis-rococo.json \
    --base-path /var/lib/artemis \
    --rpc-cors=all \
    --validator \
    --parachain-id 200 \
    {% if inventory_hostname == 'parachain-node-0' %}
    --node-key {{ hostvars['parachain-node-0'].node_key }} \
    {% else %}
    --bootnodes {{ bootnodes }} \
    {% endif %}
    --offchain-worker=Always \
    --enable-offchain-indexing true \
    -- \
    --chain /etc/rococo-local.json \
    --bootnodes {{ relaychain_bootnodes }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
