[ethereum]
endpoint = {{ endpoints.ethereum|tojson }}
descendants-until-final = 2

[ethereum.channels.basic]
inbound = {{ channels.basic.inbound|tojson }}
outbound = {{ channels.basic.outbound|tojson }}

[ethereum.channels.incentivized]
inbound = {{ channels.incentivized.inbound|tojson }}
outbound = {{ channels.incentivized.outbound|tojson }}

[substrate]
endpoint = {{ endpoints.substrate|tojson }}
