[ethereum]
endpoint = {{ endpoints.ethereum|tojson }}

[ethereum.bridge]
address = {{ apps.bridge.address|tojson }}
abi = {{ apps.bridge.abi|tojson }}

[ethereum.apps.eth]
address = {{ apps.eth.address|tojson }}
abi = {{ apps.eth.abi|tojson }}

[ethereum.apps.erc20]
address = {{ apps.erc20.address|tojson }}
abi = {{ apps.erc20.abi|tojson }}

[substrate]
endpoint = {{ endpoints.substrate|tojson }}
