name: contracts

on:
  push:
    paths:
      - "contracts/**"
      - "!contracts/**/README.md"
    branches:
      - main
  pull_request:
    paths:
      - "contracts/**"
      - "!contracts/**/README.md"
  workflow_dispatch:

jobs:
  build:
    runs-on: snowbridge-runner
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 2
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
      - name: Install dependencies
        working-directory: contracts
        run: |
          forge install https://github.com/foundry-rs/forge-std --no-git
          forge install https://github.com/dapphub/ds-test --no-git
          forge install https://github.com/PaulRBerg/prb-math --no-git
          forge install https://github.com/OpenZeppelin/openzeppelin-contracts --no-git
          forge install https://github.com/snowfork/canonical-weth --no-git
      - name: Test
        working-directory: contracts
        run: forge test
      - name: Coverage
        working-directory: contracts
        run: forge coverage --exclude-tests --report=lcov
      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5
        with:
          working-directory: contracts
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          flags: solidity
