name: parachain

on:
  push:
    paths:
      - 'parachain/**'
      - '!parachain/README.md'
      - '!parachain/LICENSE'
    branches:
      - main
  pull_request:
    paths:
      - 'parachain/**'
      - '!parachain/README.md'
      - '!parachain/LICENSE'

jobs:
  fmt:
    runs-on: ubuntu-20.04
    env:
      CARGO_INCREMENTAL: 0
      RUST_BACKTRACE: 1
      RUSTFLAGS: -C debuginfo=1
      SKIP_WASM_BUILD: 1
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('parachain/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          target: wasm32-unknown-unknown
          components: rustfmt
      - name: rustfmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: >-
            --manifest-path parachain/Cargo.toml

  check:
    runs-on: ubuntu-20.04
    env:
      CARGO_INCREMENTAL: 0
      RUST_BACKTRACE: 1
      RUSTFLAGS: -C debuginfo=1
      SKIP_WASM_BUILD: 1
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('parachain/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.62.1
          target: wasm32-unknown-unknown
      - name: cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
          toolchain: 1.62.1
          args: >-
            --manifest-path parachain/Cargo.toml
            --workspace
            --exclude snowbridge
            --features runtime-benchmarks

  test:
    needs: check
    runs-on: ubuntu-20.04
    env:
      CARGO_INCREMENTAL: 0
      RUST_BACKTRACE: 1
      RUSTFLAGS: -C debuginfo=1
      SKIP_WASM_BUILD: 1
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/cache@v1
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('parachain/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.62.1
          target: wasm32-unknown-unknown
      - uses: actions-rs/install@v0.1.2
        with:
          crate: cargo-tarpaulin
          version: latest
          use-tool-cache: true
      - name: cargo test
        uses: actions-rs/cargo@v1
        with:
          command: tarpaulin
          args: >-
            --manifest-path parachain/Cargo.toml
            --verbose --workspace
            --exclude snowbridge
            --exclude snowbridge-runtime
            --exclude snowblink-runtime
            --exclude snowbase-runtime
            --exclude-files '*/mock.rs,*/tests.rs'
            --features runtime-benchmarks
            --avoid-cfg-tarpaulin
            --coveralls ${{ secrets.COVERALLS_REPO_TOKEN }}
          toolchain: 1.62.1
