name: parachain

on:
  push:
    paths:
      - "parachain/**"
      - "!parachain/README.md"
      - "!parachain/LICENSE"
    branches:
      - main
  pull_request:
    paths:
      - "parachain/**"
      - "!parachain/README.md"
      - "!parachain/LICENSE"
  workflow_dispatch:

jobs:
  check:
    runs-on: snowbridge-runner
    env:
      CARGO_INCREMENTAL: 0
      RUST_BACKTRACE: 1
      RUSTFLAGS: -C debuginfo=1
      SKIP_WASM_BUILD: 1
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('parachain/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - name: install protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2023-04-22
          target: wasm32-unknown-unknown
      - name: cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
          toolchain: nightly-2023-04-22
          args: >-
            --manifest-path parachain/Cargo.toml
            --workspace
            --features runtime-benchmarks

  test:
    needs: check
    runs-on: snowbridge-runner
    env:
      CARGO_INCREMENTAL: 0
      RUST_BACKTRACE: 1
      RUSTFLAGS: -C debuginfo=1
      SKIP_WASM_BUILD: 1
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/cache@v1
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('parachain/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - uses: arduino/setup-protoc@v1
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2023-04-22
          target: wasm32-unknown-unknown
      # Increase stack limit for beacon light client tests
      - run: sudo prlimit --pid $$ --stack=32768
      # Run tests for everything except the beacon light client
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: >-
            --manifest-path parachain/Cargo.toml
            --workspace
            --release
            --features runtime-benchmarks
            --exclude snowbridge-ethereum-beacon-client
          toolchain: nightly-2023-04-22
      # Run tests beacon light client, excluding benchmark tests
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: >-
            --manifest-path parachain/Cargo.toml
            --release
            --package snowbridge-ethereum-beacon-client
          toolchain: nightly-2023-04-22
      # Run benchmark tests for beacon light client
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: >-
            --manifest-path parachain/Cargo.toml
            --release
            --features runtime-benchmarks
            --package snowbridge-ethereum-beacon-client
          toolchain: nightly-2023-04-22