name: parachain

on:
  push:
    paths:
      - "parachain/**"
      - "!parachain/README.md"
      - "!parachain/LICENSE"
    branches:
      - main
  pull_request:
    paths:
      - "parachain/**"
      - "!parachain/README.md"
      - "!parachain/LICENSE"
  workflow_dispatch:

jobs:
  check:
    runs-on: snowbridge-runner
    env:
      CARGO_INCREMENTAL: 0
      RUST_BACKTRACE: 1
      RUSTFLAGS: -C debuginfo=1
      SKIP_WASM_BUILD: 1
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('parachain/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - name: install protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2023-05-12
          target: wasm32-unknown-unknown
      - name: cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
          toolchain: nightly-2023-05-12
          args: >-
            --manifest-path parachain/Cargo.toml
            --workspace
            --features runtime-benchmarks

  test:
    needs: check
    runs-on: snowbridge-runner
    env:
      CARGO_INCREMENTAL: 0
      RUST_BACKTRACE: 1
      RUSTFLAGS: -C debuginfo=1
      SKIP_WASM_BUILD: 1
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/cache@v1
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('parachain/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - uses: arduino/setup-protoc@v1
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2023-05-12
          target: wasm32-unknown-unknown
      - name: test beacon client with minimal feature
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: >-
            --manifest-path parachain/Cargo.toml
            --verbose
            --package snowbridge-ethereum-beacon-client
            --features minimal
          toolchain: nightly-2023-05-12
      - uses: actions-rs/install@v0.1.2
        with:
          crate: cargo-tarpaulin
          version: latest
          use-tool-cache: true
      - name: cargo test
        uses: actions-rs/cargo@v1
        with:
          command: tarpaulin
          args: >-
            --manifest-path parachain/Cargo.toml
            --release
            --verbose 
            --workspace
            --features runtime-benchmarks
            --avoid-cfg-tarpaulin
            --coveralls ${{ secrets.COVERALLS_REPO_TOKEN }}
          toolchain: nightly-2023-05-12
